@model IEnumerable<MVC_Basics.Models.Department>
@{
    ViewBag.Title = "DepartmentList";
}

<h2>DepartmentList</h2>
<table class=" table table-bordered">
    <thead>
        <tr>
            <th>Department No</th>
            <th>Department Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var v in Model)
            {
                <tr>
                    <td>@v.Id</td>
                    <td>@v.Dname</td>
                </tr>
            }
    </tbody>
</table>
