@model MVC_Basics.Models.Employee
@{
    ViewBag.Title = "DisplayEmployee";
}

<h2>Displaying Employee Details</h2>
<ol>
    <li>@Model.Id</li>
    <li>@Model.Name</li>
    <li>@Model.Age</li>
</ol>

