@{
    ViewBag.Title = "DivideByZero";
    Layout = null;
}
<!Doctype html>
<html>
<head>
    <title>Divide by Zero</title>
</head>
<body>
    <hgroup>
        <h1>Error Occured</h1>
        <h2>DivideBy Zero Exception Occured</h2>
    </hgroup>
</body>
</html>


