
@{
    ViewBag.Title = "NullReference";
    Layout = null;
}
<!Doctype html>
<html>
<head>
    <title>Null Reference</title>
</head>
<body>
    <hgroup>
        <h1>Error Occured</h1>
        <h2>Null Reference Exception Occured</h2>
    </hgroup>
</body>
</html>
