@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<h2> Planning to Display TempData of Data controller</h2>
@foreach(var v in Model)
            {
                <p>@v</p>
            }
