
@{
    ViewBag.Title = "BundleMethod";
}

<h2>Bundle Method of the Default Controller</h2>
@Scripts.Render("~/bundles/User")
<br/>
<h2>This text is after rendering of the user scripts as a bundle</h2>

