@model CustomModelBinding.Models.CustomModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>@ViewBag.perstitle</h2>
<h2>@ViewBag.Date</h2>

<form id="frmdefault" method="post">
    Title : <input type="text" id="title" name="title" />
    Day   : <input id="day" type="text" name="day" />
    Month : <input type="text" id="month" name="month" />
    Year  : <input type="text" id="year" name="year" />

    <input id="submit" type="submit" value="Submit" />
 </form>